<!DOCTYPE html>
<html>
    <head>
      <title>{{ author }} App</title>
    </head>

  

  <center>
    <body>
      <h1>Battery Selector</h1>
      <h2>Select the battery's mAh rating:</h2>
      
      <form  action="/" method="post">

        <input type="submit" name="submit" value="2600 mAh" id="2600">
        <input type="submit" name="submit" value="2500 mAh" id="2500">
        <input type="submit" name="submit" value="2400 mAh" id="2400">
        <input type="submit" name="submit" value="2200 mAh" id="2200">

        <br><br>

      </form>

    </body>
  </center>
</html>
